*{
    padding: 0;
    height: 0;
    box-sizing: border-box;
    background: #000;
}

.container{
    padding: 20px;
    position: relative;
}

.box{
    height: 100px;
    width: 150px;
    background: white;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 1s;
    position: absolute;
}

@keyframes moving {
    from {
        background-color: white;
        top: 10px;
        left: 10px;
    }
    to{
        background-color: rgb(224, 120, 137);
        top: 10px;
        left: 1200px;
    }
}